# Copie este arquivo para prisma/.env e preencha com seus dados do Neon
# Formato exigido pelo Prisma: começa com postgresql://  (ou postgres://)
DATABASE_URL="postgresql://neondb_owner:npg_N4lzeRyHh7Zt@ep-holy-bonus-ade09ekq-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_N4lzeRyHh7Zt@ep-holy-bonus-ade09ekq.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
